@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
*
{
    margin: 0;
    padding: 20px;
}

body
{
    background-color: #e22222;
}
.kraving_ratings
{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    text-align: center;
    padding: 170px;
    margin:auto;
    background-color: #FFCD29;
}

.kr_logo
{
    border: 0;
    width: 204px;
    height: 175px;
    left:30px;
    top: 30px;
    position: absolute;
}

.cheesecake-factory
{
    width: max-content;  
    font-family: "Style Script", cursive;
    font-weight: 40px;
    align-items: center;
    justify-content: center;
    padding: 14px;
    font-size: 60px;
    position: relative;
    left: 30px;
    top: -130px;
    letter-spacing: 10px;
}

.panel_col 
{
    font-family: "Style Script", cursive;
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 15px;
}

.column_text
{
    font-family: "Style Script", cursive;
    color:#f1f1f1;
    font-size: 40px;
    background: #ec2222;
    padding: 7px;
    border-radius: 15px;
}

.column
{
    float: left;
}

.rows:after 
{
    content: "";
    display: table;
    clear: both;
}

.black_background
{
    background-color: black;
    position: absolute; 
    width: 1183px; 
    height: 250px;
    left: 0%;
}

.social-content-text
{
  
    font-family: "Style Script", cursive;
    color:#FFCD29;
    font-size: 30px;
    padding: 7px;
    border-radius: 15px;

}

.column img
{
    height: 30px;
    width: 30px;
    background-color: #fdfdfd;
    background: url(<path-to-image>) lightgray 0px 0px / 50% 50% no-repeat, #FFF;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.20), 0px 0px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 6px 0px rgba(0, 0, 0, 0.10);
}